*{
  box-sizing:border-box;
}
body{ 
  margin: 0;
  font-family:'Noto Serif', serif;
  background-color:#f8f8ff;
  line-height:1.5;
  height:100%;  
}
/*------------ Header Starts Here-------------*/
#form-container{
 width:70%;
  border:1.5px solid grey;
  margin:4rem auto; 
  background-color: #fff;
}
.sub-form-container{
  margin:20px 40px 10px 20rem; 
  overflow:hidden; 
  background-color: #fff;
}
 /*----------------- Header name starts here*/
#form-container h1{
  float: right;
}
#form-container h1 span{
  color: #4682B4;
}
 /*----------------- Header starts here*/
.header{
 border:1px solid grey;
 margin: 20px;
 background-color: #4682B4;
 color: #fff;
}
.header p{
  margin-left: 10px;
  font-size: 18px;
}
.main-body{
  margin: auto 22px;
}
.main-body h4{
  color: #4682B4;
  margin-bottom: 0px;
  margin-top: 5px;
}
.main-body p{
  margin-bottom: 0px;
  margin-top: 8px;
}
.main-body h5{
  margin: 0px;
  font-size: 14px;
}
.main-body span{
  float: right;
}
 /*----------------- space at the bottom-------------*/
.bottom-space{
  padding: 50px;
}
/* ------------ @ Media Queries (Responsiveness) ------------------------------- */
@media screen and (max-width: 900px){
  /*For header */
  .sub-form-container h1{
    font-size: 20px;
  }
@media screen and (max-width: 762px){
  .sub-form-container h1{
    font-size: 15px;
  }
}
@media screen and (max-width: 706px){
   /*For header */
  .sub-form-container{
   margin:20px 40px 10px 10rem; 
  overflow:hidden; 
  background-color: #fff;
  }
   .sub-form-container h1{
    font-size: 20px;
  }
}
@media screen and (max-width: 535px){
   /*For header */
  .sub-form-container{
   margin:20px 40px 10px 5rem; 
  overflow:hidden; 
  background-color: #fff;
  }
   .sub-form-container h1{
    font-size: 20px;
  }
}